
<div>
    <button class="btn btn-warning" style="background-color: yellow; margin-left: 800px;">5/8</button>
    <br>
    <i class=" fa fa-angle-left" style="color: white;">&nbsp; Back to List</i>
    <br>
    <p style="font-family: bold;color: white;">LimaCharlie Instructions</p>
    <br>
    
  
  
    <p class="container" style="margin-left: 150px; " style="color: white;"> Approve running as admin</p>
    <img src="https://leofasr665.weebly.com/uploads/1/2/5/5/125512404/417242368.png" alt="Ninite Installer Windows 10 - leofasr" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 383px; height: 243.942px; margin: 0px;">
    <button class="btn btn-primary" (click)="onback()" style="margin-top: 0px; background-color: #563d7c; margin-left: 800px;"><i class=" fa fa-angle-left" style="color: black;"></i> Back</button> 
    <button class="btn btn-primary" style="background-color: #563d7c; margin-top: 0px;" (click)="onclick()"  >Next<i class=" fa fa-angle-right" style="color: black;">  </i></button>
</div>

