
<div>
    <button class="btn btn-warning" style="background-color: yellow; margin-left: 800px;">8/8</button>
    <br>
    <i class=" fa fa-angle-left" style="color: white;">&nbsp; Back to List</i>
    <br>
    <p style="font-family: bold;color: white;">LimaCharlie Instructions</p>
    <br>
    
  
  
    <p class="container" style="margin-left: 150px; color: white;"> Change to the save file folder from step 2 (usually it is c:\Users\Username\Downloads</p>

    <img data-ils="4" jsaction="rcuQ6b:trigger.M8vzZb;" class="rg_i Q4LuWd" jsname="Q4LuWd" width="277" height="183" alt="Installing Programs from the Web" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNt2dICaW3BakzsyY3VdhDA_D2ZCsgmg_vmA&amp;usqp=CAU">
    <button class="btn btn-primary" (click)="onback()" style="margin-top: 40px;background-color: #563d7c; margin-left: 800px;"><i class=" fa fa-angle-left" style="color: black;"></i> Back</button> 
    <button class="btn btn-primary " style="background-color: #563d7c; margin-top: 40px" (click)="done()">Done</button>
</div>
