
<div>
    <button class="btn btn-warning" style="background-color: yellow; margin-left: 800px;">6/8</button>
    <br>
    <i class=" fa fa-angle-left" style="color: white;">&nbsp; Back to List</i>
    <br>
    <p style="font-family: bold; color: white;">LimaCharlie Instructions</p>
    <br>
    
  
  
    <p class="container" style="margin-left: 150px; color: white;"> Change to the save file folder from step 2 (usually it is c:\Users\Username\Downloads</p>

    <img src="https://d33wubrfki0l68.cloudfront.net/9dacf9cc7a390767d75ae8e329bbf76bb18bacdc/c4d2d/assets/graphics.kirix.com/installation/05-progress.png" alt="Installation" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 374px; height: 294px; margin: 0px;">
    <button class="btn btn-primary" (click)="onback()" style="margin-top: 0px;background-color: #563d7c; margin-left: 800px;"><i class=" fa fa-angle-left" style="color: black;"></i> Back</button> 
    <button class="btn btn-primary" style="margin-top: 0px;background-color: #563d7c;" (click)=onclick()>Next<i class=" fa fa-angle-right" style="color: black;">  </i></button>
</div>
