<div>
    <button class="btn btn-warning" style="background-color: yellow; margin-left: 800px;">4/8</button>
    <br>
    <i class=" fa fa-angle-left" style="color: white;">&nbsp; Back to List</i>
    <br>
    <p style="font-family: bold;color: white;">LimaCharlie Instructions</p>
    <br>
    
  
  
    <p class="container" style="margin-left: 150px;color:white;"> Type 'cmd' at the start menu and select 'Run as Administrator'</p>

    <img src="https://docs.oracle.com/cd/E13203_01/tuxedo/tux71/html/images/welcjolt.gif" alt="Installing the BEA Jolt Software" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 383px; height: 285.451px; margin: 0px;">
    <button class="btn btn-primary" (click)=onback() style="background-color: #563d7c;margin-top: -100px; margin-left: 800px;margin-top: 200px"><i class=" fa fa-angle-left" style="color: black;"></i> Back</button> 
    <button class="btn btn-primary" style="margin-top: 200px;background-color: #563d7c;" (click)=onclick() >Next<i class=" fa fa-angle-right" style="color: black;">  </i></button>
</div>

