<div>
    <button class="btn btn-warning" style="background-color: yellow; margin-left: 800px;">3/8</button>
    <br>
    <i class=" fa fa-angle-left" style="color: white;">&nbsp; Back to List</i>
    <br>
    <p style="font-family: bold;color: white;">LimaCharlie Instructions</p>
    <br>
    
  
  
    <p class="container" style="margin-left: 150px;color: white;"> Save the file (the default save folder is usually "Downloads")</p>

    <button class="btn btn-primary" (click)=onback() style="margin-top: 200px;
    background-color: #563d7c; margin-left: 800px;"><i class=" fa fa-angle-left" style="color: black;"></i> Back</button> 
    <button class="btn btn-primary"  style= "background-color: #563d7c;margin-top: 200px "(click)=onclick() >Next<i class=" fa fa-angle-right" style="color: black;">  </i></button>
</div>
