<div>
  <button class="btn btn-warning" style="background-color: yellow; margin-left: 800px;">1/8</button>
  <br>
  <i class=" fa fa-angle-left" style="color: white;">&nbsp; Back to List</i>
  <br>
  <p style="font-family: bold; color: white;">LimaCharlie Instructions</p>
  <br>
  


  <p class="container" style="margin-left: 150px; color: white;"> 1. Select your operating system and download the file</p>
<div style="width: 200px; height: 200px; border-radius: 20px; background-color: white; margin-top: 80px; margin-left:50px" >
  <i class="fab fa-windows" style="font-size: 86px; color: black; margin-left:62px"></i>
  <i class="fa fa-windows" style="font-size:18px;color:black ; text-align: center;margin-left: 44px; margin-top: 20px;">windows</i>
 
  <button (click)="onclick()" style="background-color: grey; border-radius: 20px; height: 23px; width: 116px; margin-top: 10px;  margin-left: 38px;">
  <i class="fa fa-download" style="font-size: 13px;
  color: black;
  margin-top: -23px;
  margin-left: -7px;"> </i>
  32 bit
</button>
<button (click)="onclick()" style="background-color: grey; border-radius: 20px; height: 23px; width: 116px; margin-top: 11px;  margin-left: 38px;">
  <i class="fa fa-download" style="font-size: 13px;
  color: black;
  margin-top: -23px;
  margin-left: -7px;"> </i>
  64 bit
 </button>
</div>


<div style="width: 200px; height: 200px; border-radius: 20px; background-color: white; margin-top: -199px; margin-left:400px" >
  <i class="fab fa-linux" style="font-size: 86px; color: black; margin-left:62px"></i>
  <i class="fa fa-linux" style="font-size:18px ; color: black; margin-left: 58px; margin-top: 17px;">Linux</i>
  <button (click)="onclick()" style="background-color: grey; border-radius: 20px; height: 23px; width: 116px; margin-top: 18px;  margin-left: 38px;">
  <i class="fa fa-download" style="font-size: 13px;
  color: black;
  margin-top: -23px;
  margin-left: -7px;"> </i>
  Download
</button>

</div>
<div style="width: 200px; height: 200px; border-radius: 20px; background-color: white; margin-top: -199px; margin-left:751px" >
  <i class="fab fa-apple" style="font-size: 86px; color: black; margin-left:62px"></i>
  <i class="fa fa-linux" style="font-size:18px ; color: black; margin-left: 58px; margin-top: 17px;">IOS</i>
  <button (click)="onclick()" style="background-color: grey; border-radius: 20px; height: 23px; width: 116px; margin-top: 18px;  margin-left: 38px;">
  <i class="fa fa-download" style="font-size: 13px;
  color: black;
  margin-top: -23px;
  margin-left: -7px;"> </i>
  Download
</button>

</div>

</div>

